.primary-1 { background-color: #FFEF00 }
.primary-2 { background-color: #BFB630 }
.primary-3 { background-color: #A69B00 }
.primary-4 { background-color: #FFF340 }
.primary-5 { background-color: #FFF673 }

body {
  background-color : #a69b00;
  font-family: helvetica, sans;
  font-size: 14px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px;
  width: 600px;
  background-color: #ffef00;
}

.block {
  margin-top: 30px;
  background-color: #fff340;
  padding: 10px;
}

.blocktitle {
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
}

.blockbody {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header {
  text-align: center;
  background-color: #fff;
  padding: 10px
}

#title {
  font-size: 24px;
  font-weight: bold;
}


